---
import "../styles/global.css";
import { Articles } from "../components/Articles";
import Speaks from "../components/Speaks.svelte";
import { fetchArticles } from "../data/articles";
import { fetchSpeaks } from "../data/cms";

const articles = await fetchArticles();
const speaks = await fetchSpeaks();
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>平尾ゆうてんのウェブサイト</title>
    <meta
      name="description"
      content="Webアクセシビリティエンジニア/フロントエンドエンジニア平尾ゆうてんの開発したものや関連情報を掲載しています。"
    />
  </head>
  <body>
    <header>
      <h1><span>平尾ゆうてんの</span><span>ウェブサイト</span></h1>
    </header>
    <main>
      <section>
        <h2>開発しているもの</h2>
        <ul>
          {
            [
              { name: "markuplint", url: "https://markuplint.dev/" },
              { name: "jaco", url: "http://jaco-project.github.io/docs/" },
            ].map((pkg) => (
              <li>
                <a class="npmv" href={pkg.url} target="_blank">
                  {pkg.name}
                </a>{" "}
                <img
                  class="npmv"
                  src={`https://badge.fury.io/js/${pkg.name}.svg`}
                  alt="npm package version"
                  height="20"
                  decoding="async"
                  loading="lazy"
                />
              </li>
            ))
          }
        </ul>
      </section>

      <section>
        <h2>記事</h2>
        <h3>ブログ</h3>
        <Articles articles={articles} />
        <h3>寄稿記事</h3>
        <ul>
          <li>
            UX MILK -
            <a href="https://uxmilk.jp/84998" target="_blank"
              >アクセシビリティからデザインを学ぼう</a
            >
          </li>
        </ul>
        <h3>所属先ブログ</h3>
        <ul>
          <li>
            株式会社ディーゼロ Report -
            <a
              href="https://www.d-zero.co.jp/reports/archives/28"
              target="_blank"
              >アクセシビリティは矜持でなく責任 -
              ディーゼロが求めるマークアップエンジニア</a
            >
          </li>
        </ul>
      </section>

      <section>
        <h2>登壇</h2>
        <Speaks speaks={speaks} />
      </section>

      <section>
        <h2>過去の活動</h2>
        <section>
          <h3>勉強会</h3>
          <ul>
            <li>
              <a href="https://a11ystep.connpass.com" target="_blank"
                >Accessibility Step</a
              >
            </li>
            <li>
              <a href="https://fec-fukuoka.connpass.com" target="_blank"
                >フロントエンドカンファレンス福岡</a
              >
            </li>
            <li>
              <a href="https://fff.connpass.com/" target="_blank"
                >Fukuoka Frontend Frogs</a
              >
            </li>
          </ul>
        </section>
        <section>
          <h3>Podcast</h3>
          <ul>
            <li>
              <a href="https://anchor.fm/fukuokazatsudanradio" target="_blank"
                >ちょっとお隣よかですか？ - 福岡IT系雑談ラジオ</a
              >
            </li>
          </ul>
        </section>
      </section>

      <section>
        <h2>プロフィール</h2>
        <dl>
          <dt>本名</dt>
          <dd>
            <ruby
              >平<rp>(</rp><rt>ひら</rt><rp>)</rp>尾<rp>(</rp><rt>お</rt><rp
                >)</rp
              >
            </ruby><ruby
              >優<rp>(</rp><rt>ゆう</rt><rp>)</rp>典<rp>(</rp><rt>すけ</rt><rp
                >)</rp
              >
            </ruby>
          </dd>
          <dt>専門分野</dt>
          <dd>ウェブアクセシビリティ</dd>
          <dd>フロントエンドエンジニアリング</dd>
          <dd>ユーザーインターフェイスデザイン</dd>
          <dt>所属</dt>
          <dd>
            <a href="https://www.d-zero.co.jp" target="_blank"
              >株式会社ディーゼロ</a
            > 執行役員
          </dd>
          <dt>出身</dt>
          <dd>神奈川県川崎市</dd>
          <dt>所在</dt>
          <dd>福岡県福岡市</dd>
          <dt><abbr title="Social Networking Service">SNS</abbr></dt>
          <dd>
            <ul>
              <li>
                <a href="https://github.com/YusukeHirao" target="_blank"
                  >GitHub</a
                >
              </li>
              <li>
                <a href="https://twitter.com/cloud10designs" target="_blank"
                  >Twitter</a
                >
              </li>
              <li>
                <a href="https://www.facebook.com/yusukehirao" target="_blank"
                  >Facebook</a
                >
              </li>
            </ul>
          </dd>
        </dl>
      </section>
    </main>
  </body>
</html>
